.mainHeader {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }