.singleArticle {
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.singleArticleTitle {
  text-align: left;
}

.singleArticleDetails {
  text-align: left;
}

.singleArticleImage {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.singleArticleBody {
  text-align: justify;
  line-height: 1.6;
}

.commentCount {
  padding-left: 77px;
  text-align: left;
}

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  justify-content: space-between;
  margin: 0 auto;
}

.commentsButton {
  padding-left: 10px;
}

@media (max-width: 585px) {
  .buttonsContainer {
    flex-direction: column;
  }
  .commentCount {
    text-align: center;
    padding-left: 0px;
  }
}
